div 
    create-icon-link.create-button.ms-5.mt-3(
        content='Refresh result'
        v-bind:on_click='sendTemplate'
    )
    .d-flex
        web-designer-text-input-without-label.create-input(
            v-model="template_name" 
            placeholder="Template name"
            v-bind:validation_errors='error'
        )
        create-icon-link.create-button(
            content='Create template'
            v-bind:on_click='createTemplate'
        )
    table(
        v-bind:key="refresherKey" 
        v-bind:style='tableWidth'
    )
        tbody 
            tr(v-for='row in rows')
                td(v-for='item in row')
                    web-designer-component-designer(
                        v-if='item.template'
                        v-bind:template.sync='item.template'
                        @sectionChanged="sectionChanged"
                    )
